<!doctype html>

<html lang="en">
<head>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

    <title>Learnify</title>
    <meta name="description" content="Moteur de recherche">
    <meta name="author" content="ok">

    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button.css')}}">
    <link rel="icon" type="image/png" href= "{{ url_for('static', filename='images/icon.png')}}">--->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css')}}"> 

    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js')}}"></script>
    
</head>

<body>
    <h1 align="center" id="page-title">Quels compétences voulez-vous apprendre ?</h1>
    <div id="wrapper">
        <br><br><br><br>
        <div>
            <center><input type="text" id="search-field" name="query" placeholder="Effectuez votre recherche">
            <button class="button2" id="search-button" onClick="redirect('search');"><span>Trouver!</span></button>
            <script>addEnterEvent("#search-button");</script>
        </div>
    </div>
</body>
</html>